# Eclipse project files
.project
.classpath
.settings

# IntelliJ project files
.idea
*.iml

# Build targets
**/target/
**/bin/

# Maven
*.versionsBackup
*.releaseBackup
release.properties

# Mergetool
*.orig

# Markdown viewer
*.md.html

# Asciidoctor diagram caches
.asciidoctor
